@{
    ViewBag.Title = "Личный кабинет";
}

<h2>@ViewBag.Title</h2>

<div class="form-group">
    <p><b>Имя: </b>@ViewBag.Name</p>
</div>
<div class="form-group">
    <p><b>Фамилия: </b>@ViewBag.LastName</p>
</div>
<div class="form-group">
    <p><b>Возраст: </b>@ViewBag.Age</p>
</div>
<div class="form-group">
    <p><b>Город: </b>@ViewBag.City</p>
</div>
    <p>@Html.ActionLink("Редактировать", "../Account/Edit")</p>
