@model TestWork4.Models.EditModel

@{
    ViewBag.Title = "Edit";
}

<h2>Редактировать данные профиля</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        <div>
            <p style="color:red">Изменения вступят в силу при следующем входе в аккаунт!</p>
            <p>Имя: @Html.EditorFor(model => model.Name)</p>
            <p>Фамилия: @Html.EditorFor(model => model.LastName)</p>
            <p>Возраст: @Html.EditorFor(model => model.Age)</p>
            <p>Город: @Html.EditorFor(model => model.City)</p>
        </div>

        <div>
            <div>
                <input type="submit" value="Сохранить" />
            </div>
        </div>
    </div>
}
