@{
    ViewBag.Title = "Lk";
}

<h2>Данные пользователя</h2>
<p>E-mail: @ViewBag.Email</p>
<p>Имя: @ViewBag.Name</p>
<p>Фамилия: @ViewBag.LastName</p>
<p>Возраст: @ViewBag.Age</p>
<p>Город: @ViewBag.City</p>